<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container container-narrow text-center">
      <h1>Technical Error</h1>
      <p th:text="${errorMessage}">Error details</p>
      <div class="error-box">
        Error ID: <span th:text="${errorId}">123-456</span>
      </div>
      <a href="/home" class="btn">Go Back Home</a>
    </div>
  </body>
</html>
