<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Create Account</title>
  </head>
  <body>
    <h1>Register Applicant</h1>
    <form th:action="@{/register}" th:object="${user}" method="post">
      <div>
        <label>First Name:</label>
        <input type="text" th:field="*{name}" required />
        <p
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"
          style="color: red"
        ></p>
      </div>
      <div>
        <label>Last Name:</label>
        <input type="text" th:field="*{surname}" required />
        <p
          th:if="${#fields.hasErrors('surname')}"
          th:errors="*{surname}"
          style="color: red"
        ></p>
      </div>
      <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}" required />
        <p
          th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"
          style="color: red"
        ></p>
      </div>
      <div>
        <label>Person Number:</label>
        <input type="text" th:field="*{pnr}" required />
        <p
          th:if="${#fields.hasErrors('pnr')}"
          th:errors="*{pnr}"
          style="color: red"
        ></p>
      </div>
      <div>
        <label>Username:</label>
        <input type="text" th:field="*{username}" required />
        <p
          th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}"
          style="color: red"
        ></p>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}" required />
        <p
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"
          style="color: red"
        ></p>
      </div>
      <button type="submit">Create Account</button>
    </form>
  </body>
</html>
